/* boodoo doo doo boo do dee*/

body {
    background-color: darkorchid;
}

p {
font-style: italic;
font-size: xx-large;
font-weight: bolder;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(41, 228, 34);
}